{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="{% static 'webuni/img/bg.jpg'%}">
  <div class="container">
    <div class="hero-text text-white">
      <h2>Get The Best Free Online Courses</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla <br> dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <form class="intro-newslatter">
          <input type="text" placeholder="Course">
          <input type="text" class="last-s" placeholder="Category">
          <button class="site-btn">Search Courses</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Hero section end -->


<!-- categories section -->
<section class="categories-section spad">
  <div class="container">
    <div class="section-title">
      <h2>Our Course Categories</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
    </div>
    <div class="row">
      {% for cat in category %}
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div class="ci-thumb set-bg" data-setbg="{% static 'webuni/img/categories/1.jpg' %}"></div>
          <div class="ci-text">

            <h5>{{cat|capfirst}}</h5>

            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <span>120 Courses</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- categories section end -->

<!-- signup section -->
<section class="signup-section spad">
  <div class="signup-bg set-bg" data-setbg="{% static 'webuni/img/signup-bg.jpg' %}"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="signup-warp">
          <div class="section-title text-white text-left">
            <h2>Sign up to became a teacher</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
          </div>
          <!-- signup form -->
          <form class="signup-form">
            <input type="text" placeholder="Your Name" name="name">
            <input type="text" placeholder="Your E-mail" name="e-mail">
            <input type="text" placeholder="Your Phone" name="phone">
            <button class="site-btn">Make Request</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- signup section end -->

{% endblock content %}
