{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="{% static 'webuni/img/bg.jpg'%}">
  <div class="container">
    <div class="hero-text text-white">
      <h2>Get The Best Free Online Courses</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla <br> dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <form class="intro-newslatter">
          <input type="text" placeholder="Course">
          <input type="text" class="last-s" placeholder="Category">
          <button class="site-btn">Search Couse</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Hero section end -->


<!-- categories section -->
<section class="categories-section spad">
  <div class="container">
    <div class="section-title">
      <h2>Our Course Categories</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
    </div>
    <div class="row">
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div class="ci-thumb set-bg" data-setbg="{% static 'webuni/mg/categories/1.jpg' %}"></div>
          <div class="ci-text">
            <h5>IT Development</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <span>120 Courses</span>
          </div>
        </div>
      </div>
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div class="ci-thumb set-bg" data-setbg="img/categories/2.jpg"></div>
          <div class="ci-text">
            <h5>Web Design</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <span>70 Courses</span>
          </div>
        </div>
      </div>
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div class="ci-thumb set-bg" data-setbg="img/categories/3.jpg"></div>
          <div class="ci-text">
            <h5>Illustration & Drawing</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <span>55 Courses</span>
          </div>
        </div>
      </div>
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div class="ci-thumb set-bg" data-setbg="img/categories/4.jpg"></div>
          <div class="ci-text">
            <h5>Social Media</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <span>40 Courses</span>
          </div>
        </div>
      </div>
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div class="ci-thumb set-bg" data-setbg="img/categories/5.jpg"></div>
          <div class="ci-text">
            <h5>Photoshop</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <span>220 Courses</span>
          </div>
        </div>
      </div>
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div class="ci-thumb set-bg" data-setbg="img/categories/6.jpg"></div>
          <div class="ci-text">
            <h5>Cryptocurrencies</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <span>25 Courses</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- categories section end -->

<div class="course-warp mb-5">
  <ul class="course-filter controls">
    <li class="control active" data-filter="all">Popular Courses</li>
  </ul>
  <div class="row course-items-area">
      <!-- course -->
      <div class="mix col-lg-3 col-md-4 col-sm-6 finance">
        <div class="course-item">
          <div class="course-thumb set-bg" data-setbg="{% static 'webuni/img/courses/1.jpg' %}">
            <div class="price">Price: $15</div>
          </div>
          <div class="course-info">
            <div class="course-text">
              <h5>Art & Crafts</h5>
              <p>Lorem ipsum dolor sit amet, consectetur</p>
              <div class="students">120 Students</div>
            </div>
            <div class="course-author">
              <div class="ca-pic set-bg" data-setbg="img/authors/1.jpg"></div>
              <p>William Parker, <span>Developer</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- course -->
      <div class="mix col-lg-3 col-md-4 col-sm-6 design">
        <div class="course-item">
          <div class="course-thumb set-bg" data-setbg="{% static 'webuni/img/courses/2.jpg' %}">
            <div class="price">Price: $15</div>
          </div>
          <div class="course-info">
            <div class="course-text">
              <h5>IT Development</h5>
              <p>Lorem ipsum dolor sit amet, consectetur</p>
              <div class="students">120 Students</div>
            </div>
            <div class="course-author">
              <div class="ca-pic set-bg" data-setbg="{% static 'webuni/img/authors/2.jpg' %}"></div>
              <p>William Parker, <span>Developer</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- course -->
      <div class="mix col-lg-3 col-md-4 col-sm-6 web">
        <div class="course-item">
          <div class="course-thumb set-bg" data-setbg="{% static 'webuni/img/courses/3.jpg' %}">
            <div class="price">Price: $15</div>
          </div>
          <div class="course-info">
            <div class="course-text">
              <h5>Graphic Design</h5>
              <p>Lorem ipsum dolor sit amet, consectetur</p>
              <div class="students">120 Students</div>
            </div>
            <div class="course-author">
              <div class="ca-pic set-bg" data-setbg="{% static 'webuni/img/authors/3.jpg' %}"></div>
              <p>William Parker, <span>Developer</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- course -->
      <div class="mix col-lg-3 col-md-4 col-sm-6 photo">
        <div class="course-item">
          <div class="course-thumb set-bg" data-setbg="{% static 'img/courses/4.jpg' %}">
            <div class="price">Price: $15</div>
          </div>
          <div class="course-info">
            <div class="course-text">
              <h5>IT Development</h5>
              <p>Lorem ipsum dolor sit amet, consectetur</p>
              <div class="students">120 Students</div>
            </div>
            <div class="course-author">
              <div class="ca-pic set-bg" data-setbg="{%static 'webuni/img/authors/4.jpg' %}"></div>
              <p>William Parker, <span>Developer</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- signup section -->
<section class="signup-section spad">
  <div class="signup-bg set-bg" data-setbg="img/signup-bg.jpg"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="signup-warp">
          <div class="section-title text-white text-left">
            <h2>Sign up to became a teacher</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
          </div>
          <!-- signup form -->
          <form class="signup-form">
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="Your E-mail">
            <input type="text" placeholder="Your Phone">
            <label for="v-upload" class="file-up-btn">Upload Course</label>
            <input type="file" id="v-upload">
            <button class="site-btn">Search Course</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- signup section end -->

{% endblock content %}
